@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Raleway:600&display=swap');

$font-family-sans-serif:  "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$headings-font-family:  "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-weight: 600;

// Color schemes

$mib-blue: #20819e;
$dark-gray: #303030;

$primary: $mib-blue;
$dark: $dark-gray;

$theme-colors: (
    "primary": $primary,
    "dark": $dark
);
